@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
}

body {
  background-color: black;
}

.max-width {
  max-width: 68%;
  margin: 0 auto;
}

/* .hide-block {
  display: none;
  max-width: 59%;  
} */

a {
  text-decoration: none;
  color: inherit;
}

#hello-text,
#i-text,
#name-text {
  transition: margin-left 0.5s;
}

#hello-text:hover,
#i-text:hover,
#name-text:hover {
  margin-left: 38px;
  transition: 0.4s
}

.vertical-center {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

/* .jumbotron h1 */
h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: fixed;
  font-size: 17vmin;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -2px;
  cursor: pointer;
}

.intro-color {
  color: #318CE7;
}

.intro-weight {
  font-weight: 900;
}

.intro-block {
  position: relative;
  display: block;
  overflow: hidden;
}

.profile-picture {
  z-index: -9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35%;
  background-image: url('./assets/img/bg-photo.png');
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: red; */
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-8px);
  }
}

.tap-indication {
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  position: fixed;
  bottom: 4%;
  font-size: 2.5vmin;
  animation: bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
}

/*X-Large devices (large desktops, less than 1400px)*/
@media screen and (max-width: 1400px) { 

}

/*Large devices (desktops, less than 1200px)*/
@media screen and (max-width: 1200px) { 
  .profile-picture {
    left: 30%; 
  }
}

@media screen and (max-width: 992px) { 
  .max-width {
    max-width: 78%;
  }

  .profile-picture {
    left: 20%; 
  }
}

@media screen and (max-width: 767px) { 
  .max-width {
    max-width: 78%;
  }

  #hello-text:hover,
  #i-text:hover,
  #name-text:hover {
    margin-left: 0;
  }

  .profile-picture {
    left: 30%; 
  }
}

@media screen and (max-width: 576px) {
  .profile-picture {
    left: 10%;
  }
}

@media screen and (max-width: 414px) {
  .profile-picture {
    left: -10%;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture {
    left: -10%;
  }
}